* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(1.39rem, 4.8vw, 6rem);
  position: relative;
  display: inline-block;
  animation: text_reveal 0.5s ease forwards;
  color: transparent;
  animation-delay: 1s;
  width: fit-content;
}

h1 span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(220, 207, 20);
  animation: overlay 1s ease forwards;
  animation-delay: 0.5s;
}

/* For each line Text animation */

h1:nth-child(1) {
  animation-delay: 1s;
}

h1:nth-child(2) {
  animation-delay: 2s;
}

h1:nth-child(3) {
  animation-delay: 3s;
}

/* For each line Span animation */

h1:nth-child(1) span {
  animation-delay: 0.5s;
}

h1:nth-child(2) span {
  animation-delay: 1.5s;
}

h1:nth-child(3) span {
  animation-delay: 2.5s;
}

.container .col-left {
  flex: 1;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.container .col-right {
  flex: 1;
}

.container .col-right img {
  height: 100%;
  width: 100%;
}

/* Animation for the Span */
@keyframes overlay {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0%;
    left: 100%;
  }
}
/* End of Animation for the Span */

/* Animation for the Text */
@keyframes text_reveal {
  100% {
    color: rgb(220, 207, 20);
  }
}
/* End of Animation for the Text */
